<div class='score-board'><p class='score'>100</p></div>

<div class="game-board">
  <div class="bar"></div>
  <div class="column column-d"></div>
  <div class="column column-f"></div>
  <div class="column column-j"></div>
  <div class="column column-k"></div>
</div>

<audio controls>
 <source src="assets/Khalid_Location.mp3" type="audio/mp3">
</audio>
