<div class='score-board'><p class='score'></p></div>

<div class="game-board">
  <div class="chooseSongContainer">
    <div class="easy">Khalid - Location<br>Level: Easy</div>
    <div class="medium"> (Level: Medium)</div>
    <div class="hard"> (Level: Hard)</div>
  </div>

  <div class="columnsContainer">
    <div class="bar"></div>
    <div class="column column-d">D</div>
    <div class="column column-f">F</div>
    <div class="column column-j">J</div>
    <div class="column column-k">K</div>
  </div>

  <div class="gameOverContainer">
    <p>GAME OVER</p>
    <button class="playAgainBtn" type="play" name="button">Play Again?</button>
    <button class="exitBtn" type="button" name="exit">Exit</button>
  </div>

  <div class="gameCompleted">
    <button class="playAgainBtn" type="play" name="button">Play Again?</button>
    <button class="exitBtn" type="button" name="exit">Exit</button>
  </div>
</div>

<audio controls preload="auto">
 <source src="assets/Khalid_Location.ogg" type="audio/ogg">
</audio>
