<div class='score-board'>
  <p class='score'></p>
  <% if current_user %>
    Welcome <%= current_user.first_name %><br>
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    <%= link_to 'Log Out', logout_path, class: 'links' %>
  <% else %>
    Hi there.<br>
    <i class="fa fa-sign-in" aria-hidden="true"></i>
    <%= link_to 'Log In', login_path, class: 'links' %><br>
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    <%= link_to 'Sign Up', signup_path, class: 'links' %>
  <% end %>
</div>

<div class="game-board">
  <div class="chooseSongContainer">
    <div class="level easy">Khalid - Location<br>Level: Easy</div>
    <div class="level medium">Level: Medium</div>
    <div class="level hard">Level: Hard</div>
  </div>

  <div class="columnsContainer">
    <div class="bar"></div>
    <div class="column column-d">D</div>
    <div class="column column-f">F</div>
    <div class="column column-j">J</div>
    <div class="column column-k">K</div>
  </div>

  <div class="gameOverContainer">
    <p>GAME OVER<br>
      <i class="fa fa-frown-o" aria-hidden="true"></i>
    </p>
    <input type="submit" name="commit" value="Try Again" class="btn play-again-btn" data-disable-with="play">
    <input type="submit" name="commit" value="Exit" class="btn exit-btn" data-disable-with="exit">
  </div>

  <div class="gameCompleted">
    <p>Congrats!<br>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </p>
    <input type="submit" name="commit" value="Try Again" class="btn play-again-btn" data-disable-with="play">
    <input type="submit" name="commit" value="Exit" class="btn exit-btn" data-disable-with="exit">
  </div>
</div>

<audio controls preload="auto">
 <source src="assets/30sec.ogg" type="audio/ogg">
</audio>
