<div class='score-board'><p class='score'>100</p></div>

<div class="game-board">
  <div class="bar"></div>
  <div class="column column-d">D</div>
  <div class="column column-f">F</div>
  <div class="column column-j">J</div>
  <div class="column column-k">K</div>
</div>

<audio controls>
 <source src="assets/Khalid_Location.mp3" type="audio/mp3">
</audio>
