/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .game-board {
   width: 500px;
   height: 500px;
   background-color: ivory;
   position: relative;
   /*overflow: hidden;*/
 }
 .column {
   width: 100px;
   height: 500px;
   position: absolute;
 }
 .column-d {
   left: 35px;
   background-color: rgb(163, 224, 202);
 }
 .column-f {
   left: 145px;
   background-color: rgb(163, 215, 224);
 }
 .column-j {
   left: 255px;
   background-color: rgb(231, 181, 242);
 }
 .column-k {
   left: 365px;
   background-color: rgb(241, 181, 203);
 }
 .bar {
   width: 500px;
   height: 50px;
   background-color: gold;
   position: absolute;
   top: 400px;
   opacity: .5;
   z-index: 10;
 }
 .note {
   width: 100px;
   height: 10px;
   background-color: salmon;
   position: absolute;
 }
