/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

/* color theme
green => rgb(163, 224, 202);
blue => rgb(163, 215, 224);
purple => rgb(231, 181, 242);
red => rgb(241, 181, 203);
*/

body {
  font-family: 'Coming Soon', sans-serif;
  background-color: khaki;
  /*position: absolute;*/
}
.flash-msg {
  color: red;
  text-align: right;
}
.game-board {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: white 10px solid;
  position: relative;
  overflow: hidden;
}
.game-board > form {
  text-align: center;
  color: #999;
}
.screen {
  border: none;
  height: 100%;
  margin-top: 0;
}
.screen-icon {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
}
.chooseSongContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}
.chooseSongContainer > a {
  text-decoration: none;
}
.readyContainer {
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
}
.level {
  color: white;
  width: 100%;
  height: 33.3%;
  padding-top: 5px;
  font-size: 1.2em;
  text-align: center;
}
.level:hover {
  cursor: pointer;
  background: white;
}
.easy {
  background-color: rgb(163, 224, 202);
}
.easy:hover {
  color: rgb(163, 224, 202);
}
.medium {
  background-color: rgb(241, 181, 203);
}
.medium:hover {
  color: rgb(241, 181, 203);
}
.hard {
  background-color: rgb(163, 215, 224);
}
.hard:hover {
  color: rgb(163, 215, 224);
}
.column {
  width: 62.5px;
  height: 100%;
  position: absolute;
  text-align: center;
  font-size: 2em;
}
.column-d {
  left: 10px;
  background-color: rgb(163, 224, 202);
}
.column-f {
  left: 82.5px;
  background-color: rgb(163, 215, 224);
}
.column-j {
  left: 155px;
  background-color: rgb(231, 181, 242);
}
.column-k {
  left: 227.5px;
  background-color: rgb(241, 181, 203);
}
.bar {
  width: 100%;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 250px;
  opacity: .5;
  z-index: 10;
}
.note {
  width: 62.5px;
  height: 7px;
  background-color: salmon;
  position: absolute;
}
.gameOverContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(241, 181, 203);
  color: red;
  z-index: 20;
  text-align: center;
}
.gameOverContainer > p {
  font-size: 1.5em;
}
.btn.play-again-btn {
  padding: 0;
  margin: 30px 20px 0 0;
}
.gameCompleted {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(163, 215, 224);
  color: white;
  z-index: 20;
  text-align: center;
}
.gameCompleted > p {
  font-size: 1.5em;
  margin: 0;
}
.top3Scores {
  padding: 10px;
  margin: 5px auto;
  background-color: white;
  color: rgb(163, 215, 224);
}
.top3Scores td {
  padding: 0 30px;
}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1.2); }
	40% { transform: scale(1.3); }
	50% { transform: scale(1.4); }
	60% { transform: scale(1.3); }
	70% { transform: scale(1.2); }
	80% { transform: scale(1.1); }
	100% { transform: scale(1); }
}
.pulse {
	animation-name: pulse_animation;
	animation-duration: 250ms;
	animation-timing-function: linear;
}
.score.plus {
  color: #42a1f4;
}
.score.minus {
  color: #cc282b;
}
.score-board {
  width: 100px;
  height: 100px;
  background-color: rgb(231, 181, 242);
  float: right;
  font-size: 1em;
  text-align: center;
  border-radius: 50%;
  border: white 10px solid;
}
.score {
  font-size: 2em;
  color: #666;
  margin: 20px auto 0;
}
.login-signup {
  margin-top: 10px;
}
.links {
  color: white;
  font-size: .8em;
  text-decoration: none;
}
.links:hover {
  color: white;
}
.home {
  float: left;
}
.home i:hover {
  color: rgb(231, 181, 242);
}
.login-inputs {
  border: 0;
  border-bottom: white 4px solid;
  background-color: transparent;
  color: white;
  font-size: 1em;
  text-align: center;
  margin-top: 30px;
  width: 70%;
  line-height: 1em;
  font-family: 'Coming Soon', sans-serif;
}
.login-btn {
  display: block;
  margin: 5px auto;
}
.signup-inputs {
  border: 0;
  border-bottom: white 4px solid;
  background-color: transparent;
  color: white;
  font-size: 1em;
  text-align: center;
  margin-top: 0;
  width: 70%;
  line-height: 1em;
  font-family: 'Coming Soon', sans-serif;
}
.btn {
  border: white 4px solid;
  border-radius: 50%;
  height: 100px;
  max-width: 100px;
  background-color: transparent;
  color: white;
  font-family: 'Coming Soon', sans-serif;
  font-size: 1.2em;
  width: 33.3%;
  padding: 3%;
  text-align: center;
}
.btn:hover {
  background-color: white;
  color: #999;
  cursor: pointer;
}
.login-btn {
  display: block;
  margin: 50px auto 0;
}
.signup-btn {
  display: block;
  margin: 10px auto 0;
}
.start-btn {
  background-color: rgb(241, 181, 203);
  margin-top: 38%;
}
.fa {
  color: white;
}



@media screen and (max-width: 1700px) and (min-width: 560px) {
  .game-board {
    width: 500px;
    height: 500px;
    border: white 20px solid;
  }
  .screen {
    border-radius: 50%;
  }
  .level {
    font-size: 2em;
  }
  .column {
    width: 100px;
    font-size: 2em;
  }
  .column-d {
    left: 35px;
  }
  .column-f {
    left: 145px;
  }
  .column-j {
    left: 255px;
  }
  .column-k {
    left: 365px;
  }
  .bar {
    width: 100%;
    height: 50px;
    top: 400px;
  }
  .note {
    width: 100px;
    height: 10px;
  }
  .gameOverContainer > p {
    font-size: 2.5em;
  }
  .btn.play-again-btn {
    padding: 0;
    margin: 30px 80px 0 0;
  }
  .gameCompleted > p {
    font-size: 2em;
  }
  .top3Scores {
    padding: 30px;
    font-size: 1.5em;
    margin: 30px auto;
  }
  .top3Scores td {
    font-size: 1em;
  }
  .score-board {
    width: 100px;
    height: 100px;
    font-size: 1em;
    border: white 20px solid;
  }
  .login-inputs {
    margin-top: 50px;
    width: 60%;
    line-height: 1em;
  }
  .btn.login-btn {
    display: block;
    margin: 50px auto 0;
  }
  .signup-inputs {
    margin-top: 5px;
    width: 60%;
    line-height: 1em;
  }
  .btn {
    height: 100px;
    max-width: 100px;
    font-size: 1.2em;
    width: 33.3%;
    padding: 3%;
  }
  .btn:hover {
    cursor: pointer;
  }
  .login-btn {
    margin: 50px auto 0;
  }
  .signup-btn {
    display: block;
    margin: 10px auto 0;
  }
  .start-btn {
    margin-top: 38%;
  }
}
