/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* color theme
green => background-color: rgb(163, 224, 202);
blue => background-color: rgb(163, 215, 224);
purple => background-color: rgb(231, 181, 242);
red => background-color: rgb(241, 181, 203);
*/

body {
  font-family: 'Coming Soon', sans-serif;
  background-color: khaki;
  /*position: absolute;*/
}
.flash-msg {
  color: red;
}
.chooseSongContainer {
  width: 500px;
  height: 500px;
  background-color: yellowgreen;
  border-radius: 50%;
  position: absolute;
  z-index: 20;
}
.easy, .medium, .hard {
  /*width: 100%;
  height: 30%;*/
  font-size: 2em;
  text-align: center;
}
.easy {
}
.medium {
}
.hard {
}
.game-board {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: white 20px solid;
  position: relative;
  overflow: hidden;
}
.game-board > form {
  text-align: center;
  color: #999;
}
.screen-header {
  font-size: 3em;
  text-align: center;
}
.column {
  width: 100px;
  height: 500px;
  position: absolute;
  text-align: center;
  font-size: 2em;
}
.column-d {
  left: 35px;
  background-color: rgb(163, 224, 202);
}
.column-f {
  left: 145px;
  background-color: rgb(163, 215, 224);
}
.column-j {
  left: 255px;
  background-color: rgb(231, 181, 242);
}
.column-k {
  left: 365px;
  background-color: rgb(241, 181, 203);
}
.bar {
  width: 500px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 400px;
  opacity: .7;
  z-index: 10;
}
.note {
  width: 100px;
  height: 10px;
  background-color: salmon;
  position: absolute;
}
.gameOverContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(241, 181, 203);
  color: red;
  font-size: 5em;
  z-index: 20;
  text-align: center;
}
.gameCompleted {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(163, 215, 224);
  color: white;
  font-size: 5em;
  z-index: 20;
  text-align: center;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1.25); }
	40% { transform: scale(1.4); }
	50% { transform: scale(1.5); }
	60% { transform: scale(1.4); }
	70% { transform: scale(1.25); }
	80% { transform: scale(1.1); }
	100% { transform: scale(1); }
}
.pulse {
	animation-name: pulse_animation;
	animation-duration: 300ms;
	transform-origin:70% 70%;
	animation-timing-function: linear;
}
.score.plus {
  color: #42a1f4;
}
.score.minus {
  color: #cc282b;
}
.score-board {
  width: 100px;
  height: 100px;
  background-color: rgb(231, 181, 242);
  float: right;
  font-size: 1em;
  text-align: center;
  border-radius: 50%;
  border: white 20px solid;
}
.score {
  font-size: 2em;
  color: #666;
  margin: 20px auto 0;
}
.links {
  text-decoration: none;
  font-size: .8em;
}
.links:hover {
  color: white;
}
.login-inputs {
  border: 0;
  border-bottom: white 4px solid;
  background-color: transparent;
  color: white;
  font-size: 2.5em;
  text-align: center;
  margin-top: 20px;
  width: 80%;
  line-height: 1em;
  font-family: 'Coming Soon', sans-serif;
}
.login-submit {
  border: white 4px solid;
  border-radius: 50%;
  height: 100px;
  max-width: 100px;
  background-color: transparent;
  color: white;
  font-family: 'Coming Soon', sans-serif;
  font-size: 1.2em;
  width: 33.3%;
  padding: 3%;
  display: block;
  margin: 30px auto 0;
}
.login-submit:hover {
  background-color: white;
  color: #999;
  cursor: pointer;
}
